.racas {
    position: relative;
    clear: both;
    background-image: url(../imagens/chow-chow-02.jpg);
    height: 400px;
    background-size: 100%;
    margin-bottom: 100px;
}

.titulos {
    position: absolute;
    bottom: -100px;
    left: 25px;
    width: 700px;
    background-color: white;
    padding: 10px;
}

.titulos h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
}

.titulos h2 {
    font-weight: normal;
}

table, td, th{
    border: 1px solid black;
    border-spacing: 0;
}

th {
    font-size: 25px;
}

td, th {
    padding: 10px;
}

table img {
    width: 100%;
}

table {
    margin: 0 auto 25px;
    width: 900px;
}

table a {
    text-decoration: none;
    font-weight: bold;
    color: #2d8f0d;
}

.ce {
    background-color: #555;
    color: white;
    text-align: right;
}


