.contato {
  clear: both;
  padding-top: 15px;
  padding-bottom: 15px;
}

form {
  width: 600px;
  margin: 50px auto;
}

input[type="text"], input[type="email"], textarea{
  width: 95%;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 10px;
}
textarea {
  resize: none;
}
.botoes {
  text-align: center;
  margin-top: 15px;
}
